<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chuck Jokes</title>
</head>
<body>
    <h1>Chuck Norris Jokes</h1>
    <p th:text="${joke}">default text</p>
<!--"${this looks for this text in the model}"-->


</body>
</html>